/*Reset CSS
*{
	margin: Opx;
	padding: Opx;
	font-family: Avenir, sans-serif;
	color: white;
}*/

/*Start CSS*/
.theme-dark {
	background-color: rgb(26, 26, 26);
    color: #ffffff;
        --color-secondary: rgb(38, 38, 38);
        --color-primary: rgb(26, 26, 26);
        --font-color: #ffffff;
}
.theme-light {
    background-color: rgb(225, 225, 225);
    color: #000000;
        --color-secondary: rgb(200, 200, 200);
        --color-primary: rgb(225, 225, 225);
        --font-color: #000000;;
}

.titre {
    text-align: center;
    font-size: 25px;
}

/* MENU NAVIGATION */
nav.Menu-Nav {
    z-index: 1000;
}
nav.Menu-Nav ul.Menu-Nav-ul {
    list-style-type: none;
	background-color: var(--color-secondary);   
    padding: 5px 5px;
    border-radius: 10px;
}

nav.Menu-Nav ul.Menu-Nav-ul .Menu-Principal {
    float: left;
    width: 25%;
	text-align: center;
    position: relative;
}

nav.Menu-Nav ul.Menu-Nav-ul::after {
	content: "";
	display: table;
	clear: both;
}
.menu-a{
    display: block;
    text-decoration: none;
    color: var(--font-color);
    background-color: var(--color-secondary);
    border-bottom: 2px solid transparent;
    padding: 10px;
}
.Sous-Menu .menu-b{
    color: var(--font-color);
    text-decoration: none;
    border-bottom: 2px solid transparent;
}
.Sous-Menu .menu-c{
    background-color: var(--color-secondary);
    padding: 10px;
}
}
nav.Menu-Nav .menu-c {
    display: block;
	background-color: var(--color-secondary);
}

nav.Menu-Nav .menu-b:hover {
    color: MediumOrchid;
    border-bottom: 2px solid DarkOrchid;
}

nav.Menu-Nav .menu-a:hover {
    color: MediumOrchid;
    border-bottom: 2px solid DarkOrchid;
}

/*placement des sous menu*/
.Sous-Menu {
    display: none;
    position: absolute;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);    
    z-index: 1000;
}

nav.Menu-Nav > ul.Menu-Nav-ul li:hover .Sous-Menu {
    display: block;
}

.Sous-Menu li {
    list-style: none;
	text-align: center;
}

.Menu-Principal-deroulant > .menu-a::after {
	content:" 🔘";
	font-size: 12px;
}
/*-menu fin-*/

.article {
    background-color: var(--color-secondary);
    border-radius: 5px;
    z-index: 0;
}
/* PAGE CONTACT*/
.menu_contact {
    list-style: none;
    font-size: 20px;
}
.li_contact{
    padding: 9% 5% 5% 0%;
}
.social_link{
    width: 20%;
    padding: 5% 1% 0% 5%;
}

nav.article ul.menu_contact {
    background-color: var(--color-secondary);
    border-radius: 5px;
    float: left;
    width: 100%;
    position: relative; 
}

nav.article ul.menu_contact .social_link {
    float: left;
    position: relative;
    margin-left: 10%;
}

nav.article ul.menu_contact .li_contact {
    float: left;
    width: 25%;
    text-align: center;
    position: relative;
    margin-left: -10%;
}

nav.article ul.menu_contact .map {
    float: left;
    text-align: left;
    position: relative;
}

    #img_insta {
        width: 19.5%;
    }

    #img_twitter {
        width: 20.5%;
    }

    #img_discord {
        margin-left: -7%;
        width: 34%;
    }

    #img_itchio {
        width: 20%;
    }

/*-Contact fin-*/
/*
.Presentation {

    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    margin-left: 100px;

    padding: 10px;
}*/

/*
.pdp {
    position: relative;
    margin-top: -150px;
    margin-left : ;
    width: 40%;
}
*/

.PresentationContainer {
    display: flex;
    justify-content: space-between;
    align-items: left;
    max-width: 800px;
    margin: 0 auto;
}

.Presentation {
    flex: 1; 
    margin-right: 20px; 
}

.pdp {
    width: 40%;
}

footer {
    display: flex;
    justify-content: center;
    padding: 5px;
    margin-top: 50px;
    background-color: var(--color-secondary);
    border-radius: 5px;
    position: relative;
}


/*BACK ARROW*/
.arrow{
    width: 6vmin;
    height: 6vmin;
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    transform: rotate(-45deg);
}
.arrow:before{
    content: '';
    width: 100%;
    height: 100%;
    border-width: .8vmin .8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transition: .2s ease;
    display: block;
    transform-origin: 100% 0;
}
.arrow:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 100%;
    height: 100%;
    border-width: 0 .8vmin 0 0;
    border-style: solid;
    border-color: #fafafa;
    transform-origin: 100% 0;
    transition:.2s ease;
    }
.arrow:hover::after{
    transform: rotate(45deg);
    border-color: DarkOrchid;
    height: 120%;
}
.arrow:hover:before{
    transform: rotate(360deg);
}
.arrow:hover::before {
    border-color: DarkOrchid;
    transform: scale(.8);
}
/*FIN ARROW*/


/*THEME SWITCH*/

.label {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow:
    -8px -4px 8px 0px #000000,
    8px 4px 12px 0px rgb(26, 26, 26),
    4px 4px 4px 0px rgb(26, 26, 26) inset,
    -4px -4px 4px 0px #000000 inset;
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: black ;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);

  border-radius: 15px;
  background: white ;
    box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6,
    4px 4px 4px 0px #d1d9e6 inset,
    -4px -4px 4px 0px #ffffff inset;
}

/*FIN THEME SWITCH debut theme tag*/

:root {
    --red:#ff3860;--red-dark:#ff1443;--red-light:#ff5c7c;--blue:#498afb;--blue-dark:#2674fa;--blue-light:#6ca0fc;--orange:#fa8142;--orange-dark:#f96a1f;--orange-light:#fb9865;--green:#09c372;--green-dark:#07a15e;--green-light:#0be586;--purple:#9166cc;--purple-dark:#7d4bc3;--purple-light:#a481d5;--yellow:#ffdd57;--yellow-dark:#ffd633;--yellow-light:#ffe47a;--pink:#ff4088;--pink-dark:#ff1c72;--pink-light:#ff649e;--gray0:#f8f8f8;--gray1:#dbe1e8;--gray2:#b2becd;--gray3:#6c7983;--gray4:#454e56;--gray5:#2a2e35;--gray6:#12181b;--nav-width:4em;--font-body:"sofia-pro",sans-serif;--font-head:"sofia-pro",sans-serif;--font-code:"attribute-mono",monospace;--font-size:20px;--max-width-bp:768px;--orange-pink:linear-gradient(to bottom right,var(--orange-light),var(--orange-dark) 85%);--green-grad:linear-gradient(to bottom right,var(--green-light),var(--green-dark) 85%);--background:var(--gray6);--text-color:var(--gray2);--h-color:#fff;--nav-shadow:4px 0 10px -3px #010101;--card-shadow:0 4px 8px rgba(0,0,0,0.38);--toc-shadow:rgba(0,0,0,0.7) 0px 10px 20px 0px;--nav-bg:var(--gray5);--tag-bg:var(--gray4);--code-bg:#22262f;--card-bg:var(--gray5);--overlay-bg:rgba(0,0,0,0.9);--h-border:2px dashed var(--nav-bg);--nav-border:2px dashed var(--text-color);--card-radius:0.25em;transition: all .3s ease
}

.tag {
    display: inline-block;
    border-radius: 3px;
    padding: .2em .5em .3em;
    border-radius: 2px;
    background: var(--tag-bg);
    color: var(--text-color);
    font-weight: 600;
    margin: .25em .1em;
}

.tag-sm {
    font-size: .7em;
    display: inline-block;
    letter-spacing: .15ch;
    font-weight: 400
}

.tag-lg {
    font-size: 0.9em;
    border-radius: 4px
}

.tag-bg {
    background: var(--background)
}

.tag-contrast {
    background: var(--text-color);
    color: var(--background)
}

/*FIN THEME tag debut theme img_bord*/

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  vertical-align: top;
}

.gallery {
  display: flex;
  margin: 10px auto;
  max-width: 600px;
  position: relative;
  padding-top: 66.66667%;
}

@media screen and (min-width: 600px) {
  .gallery {
    padding-top: 400px;
  }
}

.gallery__img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.gallery__thumb {
  padding-top: 6px;
  margin: 6px;
  display: block;
}

.gallery__selector {
  position: absolute;
  opacity: 0;
  visibility: hidden;
}

.gallery__selector:checked + .gallery__img {
  opacity: 1;
}

.gallery__selector:checked ~ .gallery__thumb > img {
  box-shadow: 0 0 0 3px #0be2f6;
}
